[user]
    name = T. Thyer
	email = tess.thyer@sagebionetworks.org
[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    ls-branches-local = for-each-ref --sort=-committerdate refs/heads/
    ls-branches-remote = for-each-ref --sort=-committerdate refs/heads/
    branch-name = "!git rev-parse --abbrev-ref HEAD"
    publish = "!git push -u origin $(git branch-name)"
    common-ancestor = "!git merge-base master $(git branch-name)"
    diff-ancestor = "!git diff $(git common-ancestor)..HEAD"
    head = "!git lg | head -n 5"
    alias = "config --get-regexp alias"
[core]
    excludesfile = ~/.gitignore_global
[push]
    default = simple
[grep]
    lineNumber = true
[fetch]
  prune = true
