[user]
    name = T. Thyer
    email = 1972488+tthyer@users.noreply.github.com
[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    branch-name = "!git rev-parse --abbrev-ref HEAD"
    publish = "!git push -u origin $(git branch-name)"
    common-ancestor = "!git merge-base $1 $2"
    head = "!git lg | head -n 5"
    alias = "config --get-regexp alias"
    clone = "!f() { git clone \"$1\" && pre-commit install }; f"
    update-last = "!git add . && git commit --amend --no-edit && git push -f"
[core]
  excludesfile = ~/.gitignore_global
[push]
  default = simple
  autoSetupRemote = true
[grep]
    lineNumber = true
[fetch]
    prune = true
[pull]
	rebase = false
